<h1 class="titulo1">Registrar Unidad</h1>
<br/>

<form action="/registroUnidad" method="post">
	{% csrf_token %}
	{{ RegistroUnidadForm.non_field_errors }}
	<div>
	<table>
		<tr>
			<th>Nombre:</th>
			<td>{{ RegistroUnidadForm.nombre }}</BR>{{ RegistroUnidadForm.nombre.errors }}</td>
		</tr>
		<tr>
			<th>Responsable:</th>
			<td>{{ RegistroUnidadForm.responsable }}</BR>{{ RegistroUnidadForm.responsable.errors }}</td>
		</tr>
		<tr>
			<th>Miembros:</th>
			<td>{{ RegistroUnidadForm.miembros }}</BR>{{ RegistroUnidadForm.miembros.errors }}</td>
		</tr>
		<tr>
			<th>Descripcion:</th>
			<td>{{ RegistroUnidadForm.descripcion }}</BR>{{ RegistroUnidad.descripcion.errors }}</td>
		</tr>
		<tr>
			<th colspan="2"><div align="center"><input type="submit" value="Registrar" /></div></th>
		</tr>
	</table>
	</div>
</form>
{% if msg %}
<p style="color:red;font-size:250%">{{ msg }}</p>
{% endif %}
</br>
<a href="index">Regresar</a>