{% extends "flujos/base.html" %}

{% block content %}


<h1>{{ flujo.nombre }}</h1>

<h2>{{ "Descripción" }}</h2>

<p>{{ flujo.descripcion }}</p>

<p><span class=".negrita">Estado:</span> {{ flujo.get_estado_display }}</h2>

<h2><span class=".negrita">Unidad:</span> {{ flujo.unidad.nombre }}</h2>

<h2>Pasos</h2>

{% if flujo.pasos.all %}
    <table>
        <thead>
            <tr>
                <th>Paso</th>
                <th>Sucesores</th>
                <th></th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for paso in flujo.pasos.all %}
                <tr>
                    <td>
                        <p><a href="/flujos/consultar_paso/{{ paso.id }}/">{{ paso.nombre }}</a></p>
                        <p style="font-size: 0.7em">Tipo: {{ paso.get_tipo_display }}</p>
                    </td>
                    <td>
                        {% if paso.sucesores.all %}
                            <ul>
                                {% for sucesor in paso.sucesores.all %}
                                    <li><a href="/flujos/consultar_paso/{{ sucesor.id }}/">{{ sucesor.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ "No tiene sucesores" }} </p>
                        {% endif %}
                    </td>
		    <td>
                        <p><a href="/flujos/modificar_paso/{{ paso.id}}/"> Modificar </a></p>
                      
                    </td>
		    <td>
                        <p><a href="/flujos/eliminar_paso/{{ paso.id}}/"> Eliminar </a></p>
                       
                    </td>
                <tr>
            {% endfor %}
        
        </tbody>
    </table>
{% else %}
    <p>{{ "No se ha creado ningún paso todavía" }}</p>
{% endif %}

{% endblock %}

{% block submenu %}
{{ block.super }}
        <li><h2>Opciones<h2></li>
        {%if flujo.estado == flujo.ESTADO_BORRADOR or flujo.estado == flujo.ESTADO_OBSOLETO %}
        <li><a onclick="return confirm('¿Esta seguro que quiere publicar este flujo?')"href="/flujos/publicar_flujo/{{ flujo.id }}/" class="medium button black">Publicar</a></li>
        
        <li><a href="/flujos/modificar_flujo/{{ flujo.id }}/" class="medium button black">Modificar</a></li>
        <li><a href="/flujos/agregar_paso/{{flujo.id}}/" >Agregar Paso</a></li>
        <li><a href="/flujos/agregar_camino/{{flujo.id}}/" >Agregar Camino</a></li>
        {% else %}
        <li><a onclick="return confirm('¿Esta seguro que desea marcar este flujo como obsoleto?')" href="/flujos/marcar_obsoleto/{{ flujo.id }}/" class="medium button black">Marcar como obsoleto</a></li>
        {%endif%}
{% endblock %}