{% extends "base.html" %}

{% block content %}


<h1>Paso {{ paso.nombre }}</h1>
<p style="font-size: 0.7em">Tipo: {{ paso.get_tipo_display }}</p>
<p>Flujo al que pertenece: {{ paso.flujo.nombre }}</p>

<h2>Descripcion</h2>

<p>{{ paso.descripcion }}</p>

<p>Fecha de creacion: {{ paso.fecha_de_creacion }}</p>

<h2>Criterios</h2>
	
	{% if paso.criterios_destino.all %}
		<ul>
			{% for criterio in paso.criterios_destino.all %}
				<li>Paso: <a href="/flujos/consultar_paso/{{ criterio.paso_origen.id }}/">{{ criterio.paso_origen.nombre }}</a></li> 
				<p>Descripcion: {{ criterio.descripcion }}</p>
				<p>Expresion: {{ criterio.expresion }}</p>
			{% endfor %}
		</ul>
    {% else %}
        <p>No hay criterios para llegar a {{paso.nombre}} </p>
    {% endif %}



<h2>Sucesores</h2>
	{% if paso.sucesores.all %}
        <ul>
            {% for sucesor in paso.sucesores.all %}
                <li><a href="/flujos/consultar_paso/{{ sucesor.id }}/">{{ sucesor.nombre }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ "No tiene sucesores" }} </p>
    {% endif %}
	
<h2>Alertas</h2>
	{% if paso.alertas.all %}
		<ul>
			{% for alerta in paso.alertas.all %}
				<p>Descripcion: {{ alerta.descripcion }}</p>
				<li>Ver Alerta <a href="/flujos/consultar_alerta/{{ alerta.id }}/"></a></li> 
			{% endfor %}
		</ul>
    {% else %}
        <p>No hay alertas para {{paso.nombre}} </p>
    {% endif %}	
	
{% endblock %}

{% block submenu %}
    <ul>
        <li>Modificar</li>
    </ul>
{% endblock %}