{% extends "flujos/base.html" %}

{% block submenu %}
{{ block.super }}
     <li><h2>Opciones<h2></li>
     <li><a href="/flujos/consultar_alerta/{{ alerta.id }}/">Volver al flujo</a></li>
     <li><a href="/flujos/modificar_paso/{{ paso.id }}/"/> Modificar Paso</a></li>
     <li><a href="/flujos/eliminar_paso/{{ paso.id }}/"/> Eliminar Paso</a></li>
     <li><a href="/flujos/agregar_alerta/{{ paso.id }}/"/> Agregar Alerta</a></li>
     <li><a href="/flujos/agregar_campo/{{ paso.id }}/"/> Agregar Campo</a></li>
     <li><a href="/flujos/agregar_criterio/"/> Agregar Criterio</a></li>
     <li><a href="/flujos/agregar_informe/{{ paso.id }}/"/> Agregar Informe</a></li>
     <li><a href="/flujos/modificar_alerta/{{ alerta.id}}/"> Modificar alerta</a></li>     
     <li><a href="/flujos/eliminar_alerta/{{ alerta.id}}/"> Eliminar alerta</a></li>     
     <li><a href="/flujos/modificar_informe/{{ informe.id}}/"> Modificar informe</a></li>
     <li><a href="/flujos/eliminar_informe/{{ informe.id}}/"> Eliminar informe</a></li>
     <li><a href="/flujos/consultar_informe/{{ informe.id}}/"> Consultar informe</a></li>

     

{% endblock %}

{% block content %}
<h1> Nombre del informe: </h1>
<h3>{{ informe.nombre }}</h3>
        <thead>
        </thead>
        <tbody>
 
			<h3>Paso asociado al informe:</h3>
			{{ informe.paso }}
			
			<br>
			<td>
			<h3>Receptores del informe:</h3>
            	{% if informe.miembro_es_receptor %}Miembro</br>{% endif %}
            	{% if informe.solicitante_es_receptor %}Solicitante<br>{% endif %}	
        	</td>
        	<br>
        	<h3>Formato:</h3>
        	<br>
        	<td> {{ informe.formato }} </td>                
        </tbody>
{% endblock %}