{% extends "base.html" %}
{% block submenu %}
	<h1> Index </h1>
	<a href="/flujos/crear_flujo/" class="medium button black">Crear Flujo
	</a>
	
	<br>
	
	<a href="/flujos/listar_flujos/" class="medium button black">Listar Flujos
	</a>
	
	<br>
	<a href="/flujos/copiar_flujo/" class="medium button black"> Copiar Flujo
	</a>

	<br>
	<a href="/flujos/consultar_flujo" class="medium button black">Consultar Flujo	
	</a>
	
	<br>
	
	<a href ="/flujos/modificar_flujo" class="medium button black"> Modificar Flujo
	</a>
	
	<br>
	
	<a href ="/flujos/marcar_obsoleto/" class="medium button black">Marcar flujo como obsoleto
	</a>
	
	<br>
	
	<a href ="/flujos/publicar_flujo/" class="medium button black">Publicar flujo
	</a>
	
	<br>
	
	
{% endblock %}
