{% extends "base.html" %}

{% block content %}
{% if flujos %}
<table>
  <thead> Nombre </thead> 
  <thead> Descripcion </thead> 
  <thead> Consultar </thead>
  <thead> Modificar </thead>
  <thead> Eliminar </thead> 
  {% for flujo in flujos %}
  
  <tr>
    
   <td>
    {{ flujo.nombre }}
   </td>
   <td>
    {{ flujo.descripcion }}
   </td>
   <td>
    <a href="flujos/consultar_flujo"> Consultar</a>
   </td>
   <td>
    <a href="flujos/modificar_flujo"> Modificar </a>
   </td>
   <td>
    <a href=""> No hay Eliminar </a>
   </td>
   <td>
    
   </td>
  </tr>
  {% endfor %}
</table>
{% else %}
{% endif %}

{% endblock %}

{% block submenu %}
{% endblock %}