{% extends "flujos/base.html" %}

# Template index de unidades
# Requiere la variable unidades

{% block title %}
 Pagina de Modificación de Flujos
{% endblock %}

{% block content %}
    <form action="." method= "POST" >{% csrf_token %}
    <table>
        {{ form.as_table }}
        <td colspan="2" style="text-align: right"><input type="submit" value="Modificar" /></td>
    </table>
</form>
{% endblock %}


{% block submenu %}
{{ block.super }}
        <li><h2>Opciones<h2></li>
<li><a href="/flujos/agregar_paso/{{flujo_id}}/" >Agregar Paso</a></li>
<li><a href="/flujos/agregar_camino/{{flujo_id}}/" >Agregar Camino</a></li>
<li><a href="/flujos/listar_caminos/{{flujo_id}}/" >Listar Caminos</a></li>
{% endblock %}