{% extends "flujos/base.html" %}

# Template index de unidades
# Requiere la variable unidades

{% block title %}
 Modificar paso
{% endblock %}

{% block content %}
<h1>Modificar Paso</h1>
    <form action="." method= "POST" >{% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr><td colspan="2" style="text-align:right;"><input type="submit" value="Modificar" /></td></tr>
    </table>
</form>
{% endblock %}

{% block submenu %}
{{ block.super }}
    <li><h2>Opciones</h2></li>
    
    <li><a href="/flujos/agregar_campo/{{ paso.id }}/">Agregar campo</a></li>
    <li><a href="/flujos/agregar_camino/{{ paso.id }}/">Agregar camino</a></li>
    <li><a href="/flujos/agregar_alerta/{{ paso.id }}/">Agregar alerta</a></li>
    <li><a href="/flujos/agregar_informe/{{ paso.id }}/">Agregar informe</a></li>
{% endblock %}


