{% extends "base.html" %}

# Template index de unidades
# Requiere la variable unidades

{% block title %}
 Pagina de Modificación de Flujos
{% endblock %}

{% block content %}
    {% comment %} 
    NO OLVIDEN COLOCAR method="POST"
    Coloquen aqui sus enlaces de  Unidades
    {% endcomment %}
    Contenido del Index de Flujos
    <form action="." method= "POST" >{% csrf_token %}
    <table>
        {{ form.as_table }}
        <td colspan="2" style="text-align: right"><input type="submit" value="Modificar" /></td>
    </table>
</form>
{% endblock %}


{% block submenu %}
<h1> Caminos </h1>
<a href="/flujos/agregar_camino/{{flujo_id}}/" class="medium button black">Agregar Camino</a>
<a href="/flujos/listar_caminos/{{flujo_id}}/" class="medium button black">Listar Caminos</a>
{% endblock %}