{% extends "unidades/base.html" %}
{% comment %} Esta vista se encarga de mostrarle a los miembros de unidad o responsables
	de unidad, las solicitudes de privilegios que se le han pedido, para que
	estos puedan aceptar o cancelar la solicitud.
	-Objetos que requiere:
	@listaPrivilegios: QuerySet que tiene la lista de solicitudes de privilegios
					   para ser solicitante de una unidad en la que el usuario
					   autenticado es miembro de esa unidad.
	@listaMiembro: QuerySet que tiene la lista de solicitudes de privilegios
				   para ser miembro de una unidad en la que el usuario
				   autenticado es responsable de esa unidad.
	@msg: String que muestra si el privilegio fue aceptado o cancelado con exito.  
{% endcomment %}

{% block content %}
<h1>Otorgar privilegios</h1>
{% if solicitudes_responsable %}
	<h2>Solicitudes de privilegios para ser Responsable de la unidad</h2>
	{% for priv in solicitudes_responsable %}
		<form action="/unidades/otorgar_privilegio/" method="post">
		{% csrf_token %}
		<table>
		<input type="hidden" name="id" value='{{priv.id}}'/>
		<tr>
		  <td> <b>Solicitante</b> </td>
		  <td> {{ priv.solicitante.last_name }},{{ priv.solicitante.first_name }}</td>
		</tr>
        <tr>
        	<td> <b>Unidad:</b>
        	<td>{{ priv.unidad.nombre }}</td>
        </tr>
        <tr>
        	<td><b>	Mensaje</b></td>
        	<td>{{ priv.mensaje }}</td>
        </tr>
        <tr>
        <td></td>
		<td><input type="submit" name="negar_privilegio" value="Negar" /> <input type="submit" name="aceptar_privilegio" value="Aceptar" /> </td>
		</tr>
		</table>   
		</form>
    {% endfor %}
 {%endif%}   
{% if solicitudes_miembro %}
    <h2>Solicitudes de privilegios para ser Miembro de la unidad</h2>
    {% for priv in solicitudes_miembro %}
        <form action="/unidades/otorgar_privilegio/" method="post">
        {% csrf_token %}
        <table>
        <input type="hidden" name="id" value='{{priv.id}}' />
	<tr>
	  <td> <b>Solicitante</b> </td>
	  <td> {{ priv.solicitante.last_name }},{{ priv.solicitante.first_name }}</td>
	</tr>
        <tr>
            <td> <b>Unidad:</b>
            <td>{{ priv.unidad.nombre }}</td>
        </tr>
        <tr>
            <td><b> Mensaje</b></td>
            <td>{{ priv.mensaje }}</td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" name="negar_privilegio" value="Negar" /> <input type="submit" name="aceptar_privilegio" value="Aceptar" /> </td>
        </tr>
        </table>   
        </form>
    {% endfor %}
 {%endif%}
 {% if solicitudes_solicitante %}
    <h2>Solicitudes de privilegios para ser Solicitante de la unidad</h2>
    {% for priv in solicitudes_solicitante %}
        <form action="/unidades/otorgar_privilegio/" method="post">
        {% csrf_token %}
        <table>
        <input type="hidden" name="id" value='{{priv.id}}' />
	<tr>
	  <td> <b>Solicitante</b> </td>
	  <td> {{ priv.solicitante.last_name }},{{ priv.solicitante.first_name }}</td>
	</tr>
        <tr>
            <td> <b>Unidad:</b>
            <td>{{ priv.unidad.nombre }}</td>
        </tr>
        <tr>
            <td><b> Mensaje</b></td>
            <td>{{ priv.mensaje }}</td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" name="negar_privilegio" value="Negar" /> <input type="submit" name="aceptar_privilegio" value="Aceptar" /> </td>
        </tr>
        </table>   
        </form>
    {% endfor %}
 {%endif%}
 
 {% endblock %}
