<!-- Esta vista se encarga de mostrarle a los miembros de unidad o responsables
	de unidad, las solicitudes de privilegios que se le han pedido, para que
	estos puedan aceptar o cancelar la solicitud.
	-Objetos que requiere:
	@listaPrivilegios: QuerySet que tiene la lista de solicitudes de privilegios
					   para ser solicitante de una unidad en la que el usuario
					   autenticado es miembro de esa unidad.
	@listaMiembro: QuerySet que tiene la lista de solicitudes de privilegios
				   para ser miembro de una unidad en la que el usuario
				   autenticado es responsable de esa unidad.
	@listaResponsable: 
	-->
{% extends "base.html" %}

{% block content %}
<h1 class="titulo1">Otorgar privilegios</h1>

{% if listaPrivilegios %}
	<h2>Lista de Solicitudes de Privilegios para ser Solicitante de la unidad</h2>
	{% for priv in listaPrivilegios %}
		<form action="/otorgarPrivilegio" method="post">
		{% csrf_token %}
		<table>
		<input type="hidden" name="id" value="{{priv.id}}" />
        <tr>
        	<td> <b>Solicitante:</b>
        	<td>{{ priv.solicitante }}</td>
        </tr>
        <tr>
        	<td> <b>Unidad:</b>
        	<td>{{ priv.unidad.nombre }}</td>
        </tr>
		<tr>
			<td><b>Privilegio solicitado:</b></td>
        	<td>{{ priv.privilegio }}</td>
        </tr>
        <tr>
        	<td><b>	Mensaje</b></td>
        	<td>{{ priv.mensaje }}</td>
        </tr>
        <tr>
        <td></td>
		<td><input type="submit" name="negar_privilegio" value="Cancelar" /> <input type="submit" name="aceptar_privilegio" value="Aceptar" /> </td>
		</tr>
		</table>   
		</form>
    {% endfor %}
 {%endif%}   
{% if listaMiembro %}
	<h2>Lista de Solicitudes de Privilegios para ser Miembros de la unidad</h2>
	{% for priv in listaMiembro %}
		<form action="/otorgarPrivilegio" method="post">
		{% csrf_token %}
		<table>
		<input type="hidden" name="id" value="{{priv.id}}" />
		
        <tr>
        	<td> <b>Solicitante:</b>
        	<td>{{ priv.solicitante }}</td>
        </tr>
        <tr>
        	<td> <b>Unidad:</b>
        	<td>{{ priv.unidad.nombre }}</td>
        </tr>
		<tr>
			<td><b>Privilegio solicitado:</b></td>
        	<td>{{ priv.privilegio }}</td>
        </tr>
        <tr>
        	<td><b>	Mensaje</b></td>
        	<td>{{ priv.mensaje }}</td>
        </tr>
        <tr>
        <td></td>
		<td><input type="submit" name="negar_privilegio" value="Cancelar" /> <input type="submit" name="aceptar_privilegio" value="Aceptar" /> </td>
		</tr>
		</table>    
		</form>
    {% endfor %}

{%endif%}
</br>
{% if listaResponsable %}
	<h2>Lista de Solicitudes de Privilegios para ser Responsable de la unidad</h2>
	{% for priv in listaResponsable %}
		<form action="/otorgarPrivilegio" method="post">
		{% csrf_token %}
		<table>
		<input type="hidden" name="id" value="{{priv.id}}" />
		
        <tr>
        	<td> <b>Solicitante:</b>
        	<td>{{ priv.solicitante }}</td>
        </tr>
        <tr>
        	<td> <b>Unidad:</b>
        	<td>{{ priv.unidad.nombre }}</td>
        </tr>
		<tr>
			<td><b>Privilegio solicitado:</b></td>
        	<td>{{ priv.privilegio }}</td>
        </tr>
        <tr>
        	<td><b>	Mensaje</b></td>
        	<td>{{ priv.mensaje }}</td>
        </tr>
        <tr>
        <td></td>
		<td><input type="submit" name="negar_privilegio" value="Cancelar" /> <input type="submit" name="aceptar_privilegio" value="Aceptar" /> </td>
		</tr>
		</table>    
		</form>
    {% endfor %}

{%endif%}
<a href="index">Regresar</a>
{% endblock %}   