<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
            Control de Flujo - {% block title %}{% endblock %}
        </title>   
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "flujo.css" %}" type="text/css" media="screen" />
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
	<div id="header">
	   <h1 class="titulo1">       SISTEMA INTEGRADO DE CONTROL DE FLUJO </h1>
	 
	</div>    
        <div id="submenu">
            {% block submenu %}{% endblock %}
        </div>
        {% if user.is_staff %}
        <div id="admin">
            <ul><li> <a href="admin/" class="medium button blue">Admin Site</a></li></ul>        
        </div>
        {% endif %}
        <div id="wrap">
	  {% block menu %}
                <ul>
                <li><a href="/" class="medium button blue">home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/logout/" class="medium button blue">Logout</a></li>
                {% else %}
                    <li> <a href="/login/" class="medium button blue">Login</a></li>
                    <li> <a href="/registro/" class="medium button blue">Registro</a></li>
                {% endif %}
                <li><a href="/flujos/index/" class="medium button blue">Flujos</a></li>
                <li><a href="/solicitudes/index/" class="medium button blue">Solicitudes</a></li>
                <li><a href="/unidades/index/" class="medium button blue">Unidades</a></li>
                <li><a href="/usuarios/index/" class="medium button blue">Usuarios</a></li>
             </ul>
            {% endblock %}



	     
            <div id="contenido">
	        
	      
                <h1>{% block head %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
     
        </div>
    </body>
</html>
