<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<body>
<h1 class="titulo1">Perfil de Usuario</h1>
<div class="perfil">
    <div>
        <p> Username: {{ usr.username }} </p>
        <p> Nombre: {{ usr.first_name }} </p>
        <p> Apellido: {{ usr.last_name }} </p>
        <p> DNI: {{ perfil }} </p>
        <p> Email: {{ usr.email }} </p>
    </div>
</div>
<a href="index">Regresar</a>
</body>
</html>