{% extends "base.html" %}

{% block content %}

<h1> Pagina Inicial </h1>

{% if usr.is_authenticated %}
	<p>Bienvenido {{usr.username}}</p>
	<ul>
		<li><a href="/ConsultarDatosUsuario">Consultar Perfil</a></li>
		<li><a href="/modificarDatosUsuario">Modificar Perfil</a></li>			
        <li><a href="/solicitud_privilegio">Solicitar Privilegio</a></li>
		<li><a href="/otorgar_privilegio">Otorgar Privilegio</a></li>
		<li><a href="logout">Logout</a></li>
	</ul>
{% else %}
	{% if reg %}
		<p> {{ reg }} </p>
	{% endif %}

	<ul>
		<li><a href="login">Login</a></li>
		<li><a href="registro">Registrarse</a></li>
	</ul>
{% endif %}

{% endblock %}
