{% extends "base.html" %}
{% block title %}Cambiar Clave de Usuario{% endblock %}
{% block content %}
{% comment %} NO OLVIDEN COLOCAR method="POST" {% endcomment %}
<h1>Cambiar Clave de Usuario</h1>
<form action="usuarios/cambiar_clave/" method="post">
    {% csrf_token %}
    <div class="perfil">
        <div >Clave antigua: <input type="password" name="claveAntigua" id="claveAntigua" /></div>
        <div >Clave nueva:<input type="password" name="claveNueva" id="claveNueva" /></div>
        <div >Confirme clave nueva:<input type="password" name="claveConfirmacion" id="cpass2" /></div>
        <input type="submit" value="Aceptar" />

    </div>
</form>
{% endblock %}
{% block submenu %}

<h1> Usuarios </h1>
<a href="/usuarios/consultar_datos_usuario/" class="medium button black">Consultar Perfil</a>
<br>
<a href="/usuarios/modificar_datos_usuario/" class="medium button black">Modificar Perfil</a>
<br>
<li><a href="/usuarios/cambiar_clave/" class="medium button black">Cambiar Clave</a></li>

{% endblock %}

