{% extends "usuarios/base.html" %}
{% block title %}Cambiar Clave de Usuario{% endblock %}
{% block content %}
{% comment %} NO OLVIDEN COLOCAR method="POST" {% endcomment %}
<h1>Cambiar Clave de Usuario</h1>
<form action="usuarios/cambiar_clave/" method="post">
    {% csrf_token %}
    <div class="perfil">
        <div >Clave antigua: <input type="password" name="claveAntigua" id="claveAntigua" /></div>
        <div >Clave nueva:<input type="password" name="claveNueva" id="claveNueva" /></div>
        <div >Confirme clave nueva:<input type="password" name="claveConfirmacion" id="cpass2" /></div>
        <input type="submit" value="Aceptar" />

    </div>
</form>
{% endblock %}
{
