{% extends "base.html" %}
{% block title %}Perfil de Usuario{% endblock %}
{% block content %}
<h1>Perfil de Usuario</h1>
<table>
    <tr><td>Username:</td><td>{{ usr.username }}</td></tr>
    <tr><td>Nombre:</td><td>{{ usr.first_name }}</td></tr>
    <tr><td>Apellido:</td><td>{{ usr.last_name }}</td></tr>
    <tr><td>DNI:</td><td> {{ perfil }}</td></tr>
    <tr><td>Email:</td><td>{{ usr.email }}}</td></tr>
</table>
{% endblock %}
{% block submenu %}

<h1> Usuarios </h1>
<a href="/usuarios/consultar_datos_usuario/" class="medium button black">Consultar Perfil</a>
<br>
<a href="/usuarios/modificar_datos_usuario/" class="medium button black">Modificar Perfil</a>
{% endblock %}