<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<body>
<h1 class="titulo1">Perfil de Usuario</h1>
<div class="perfil">
    <div>

	<form action="/usuarios/modificarDatosUsuario/" method="post">
	{% if reg %}
		<p> {{ reg }} </p>
	{% endif %}
 		
	{% csrf_token %}
	{{ f.non_field_errors }}
	{% for campo in user_form %}
	<div class="registro">
		{{ campo.label_tag  }} {{ campo }}
		{{ campo.errors }}
	</div>
	{% endfor  %}


    <input type="submit" value="Guardar cambios">
	</form>
	    </div>
</div>
<a href="/index">Regresar</a>
</body>
</html>
