{% extends "solicitudes/base.html" %}

{% block content %}
    <h1>Solicitud</h1>
{% endblock %}

{% block submenu %}
{{ block.super }}
        <li><h2>Opciones<h2></li>
        <li><a href="/solicitudes/agregar_dato/" class="medium button black">
               Agregar Dato</a></li>
        <li><a href="/solicitudes/completar_dato/" class="medium button black">
               Completar Dato</a></li>
        <li><a href="/solicitudes/avanzar_solicitud/" class="medium button black">
               Avanzar Solicitud</a></li>
        <li><a href="/solicitudes/retirar_solicitud/" class="medium button black">
               Retirar Solicitud</a></li>
        <li><a href="/solicitudes/generar_informe/" class="medium button black">
               Generar Informe</a></li>
{% endblock %}
