{% extends "solicitudes/base.html" %}

{% block content %}
    <h1>Solicitudes</h1>
    <table>
	<tr>
	      <th> Nombre del Flujo </th> 
	      <th> Solicitante </th> 
	      <th> Fecha </th> 
	      <th> Consultar </th>
	</tr>
      {% for solicitud in solicitudes %}
      
      <tr>
        
       <td>
        <a href="/flujos/consultar_flujo/{{ solicitud.flujo.id }}/">{{ solicitud.flujo.nombre }}
       </td>
       <td>
        {{ solicitud.solicitantes }}
       </td>
       <td>
        {{ solicitud.fecha_de_solicitud }}
       </td>
       <td>
        <a href="/solicitudes/consultar_solicitud/{{ solicitud.id }}/">Consultar</a>
       </td>
      </tr>      
      {% empty %}
      <tr><td colspan="4">{{ "No se ha creado ninguna solicitud" }}</td></tr>
      {% endfor %}
    </table>
{% endblock %}
