{% extends "solicitudes/base.html" %}

{% block content %}
    <h1>Solicitudes realizadas por ti.</h1>
    <table>
	<tr>
		  <th> Unidad </th>
	      <th> Nombre del Flujo </th> 
	      <th> Fecha </th> 
	      <th> Consultar </th>
	      <th> Estado </th>
		  <th></th>
	</tr>
      {% for solicitud in solicitudes_solicitante %}
      
      <tr>
       <td>
        {{ solicitud.flujo.unidad.nombre }}
       </td>  
       <td>
        <a href="/flujos/consultar_flujo/{{ solicitud.flujo.id }}/">{{ solicitud.flujo.nombre }}
       </td>
       <td>
        {{ solicitud.fecha_de_solicitud }}
       </td>
       <td>
        <a href="/solicitudes/consultar_solicitud/{{ solicitud.id }}/">Ver detalles</a>
       </td>
       <td>
        {%if solicitud.estado == 1%}
        	ACTIVA
        {%elif solicitud.estado == 2 %}
        	RETIRADA
       	{% endif %}
       </td>
       {%if solicitud.estado == 1%}
       <td>
        <a href="/solicitudes/retirar_solicitud/{{ solicitud.id }}/">Retirar</a>
       </td>
       {% endif %}
      </tr>      
      {% empty %}
      <tr><td colspan="4">{{ "No se ha creado ninguna solicitud" }}</td></tr>
      {% endfor %}
    </table>
    </br>
    <h1>Solicitudes de unidades donde eres miembro.</h1>
    <table>
	<tr>
		  <th> Unidad </th>
	      <th> Nombre del Flujo </th> 
	      <th> Solicitante </th> 
	      <th> Fecha </th> 
	      <th> Consultar </th>
	      <th> Estado </th>
	</tr>
      {% for solicitud in solicitudes_miembro %}
      
      <tr>
       <td>
        {{ solicitud.flujo.unidad.nombre }}
       </td> 
       <td>
        <a href="/flujos/consultar_flujo/{{ solicitud.flujo.id }}/">{{ solicitud.flujo.nombre }}
       </td>
       <td>
        {{ solicitud.solicitantes }}
       </td>
       <td>
        {{ solicitud.fecha_de_solicitud }}
       </td>
       <td>
        <a href="/solicitudes/consultar_solicitud/{{ solicitud.id }}/">Consultar</a>
       </td>
       <td>
        {%if solicitud.estado == 1%}
        	ACTIVA
        {%elif solicitud.estado == 2 %}
        	RETIRADA
       	{% endif %}
       </td>
      </tr>      
      {% empty %}
      <tr><td colspan="4">{{ "No se ha creado ninguna solicitud" }}</td></tr>
      {% endfor %}
    </table>
    
{% endblock %}
